<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form method="post" action="/auth/signup">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="memberId">MemberId</label>
            <input type="text" class="form-control" id="memberId" name="memberId" placeholder="사용자 아이디">
        </div>
        <div class="form-group">
            <label for="name">MemberName</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="사용자 이름">
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="사용자 비밀번호">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="사용자 이메일">
        </div>
        <button type="submit" class="btn btn-primary">
            <a href="/auth/complete">가입 완료</a></button>
    </div>
</form>
</body>
</html>